# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text diff=python

# CSV files
*.csv text

# Markdown
*.md text diff=markdown

# Configs
*.txt text
*.cfg text
*.ini text
*.yml text
*.yaml text
